<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${title}]]</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
<h1 th:text="${title}"></h1>
<a th:href ="@{/board/post}">글쓰기</a>
<table>
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="b:${list}">
            <td th:text="${b.id}"></td>
            <td><a th:text="${b.title}" th:href="@{'/board/post/' +${b.id}}"></a></td>
            <td th:text="${b.writer}"></td>
            <td th:text="${#temporals.format(b.createdDate,'yyyy-MM-dd HH:mm')}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>
</html>